body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  background: black;
}

/* INTRO */
#intro {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.glow-text {
  color: white;
  font-size: 2.5rem;
  text-shadow: 0 0 20px cyan, 0 0 40px blue;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from { text-shadow: 0 0 10px white; }
  to { text-shadow: 0 0 30px cyan; }
}

/* MAIN */
#mainScene {
  display: none;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, #0a2a0a, #000);
  position: relative;
}

/* BUTTERFLIES */
.butterfly {
  width: 30px;
  height: 30px;
  background: pink;
  position: absolute;
  animation: fly 8s infinite linear;
  border-radius: 50%;
  box-shadow: 0 0 20px pink;
}

@keyframes fly {
  0% { transform: translateY(100vh); }
  100% { transform: translateY(-100vh); }
}

/* CAKE */
#cake {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.layer {
  width: 150px;
  height: 40px;
  background: pink;
  margin: 5px;
  border-radius: 10px;
}

#candles {
  text-align: center;
  font-size: 30px;
}

/* QUEEN */
#queen {
  position: absolute;
  bottom: 20%;
  left: -150px;
  font-size: 60px;
  transition: 3s;
}

/* FIREWORK */
#fireworks {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* FINAL TEXT */
#finalText {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2rem;
  display: none;
  text-shadow: 0 0 20px gold;
}

/* BUTTON */
#surpriseBtn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px;
  font-size: 18px;
  display: none;
}
